services:
  api:
    build: .
    container_name: axioma_api

    ports:
      - "8000:8000"

    env_file:
      - .env

    volumes:
      - .:/app
      - ./wallet:/app/wallet
      
    restart: unless-stopped
